.tag{
    border: solid 1px black;
    border-radius: 25px;
    height: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: x-small;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 7px;

}