.font{
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
}

.picture {
    height: 504px;
    width: 378px;
    filter: grayscale(100%); /* Makes the image black and white */
    transition: filter 0.5s ease, transform 0.5s ease; /* Smooth transition for color and pop-out effect */
  }
  
  .picture:hover {
    filter: grayscale(0%); /* Restores the color on hover */
    transform: scale(1.1) translate(5px, -5px); /* Makes the image pop out with an offset */
  }

  .aboutmetitle{
    font-weight: bold;
  }

  

  .aboutmetitle::after {
    content: '';
    display: inline-block;
    width: 360px; /* Width of the line */
    height: 2px; /* Adjust height as needed */
    background-color: #e9e9e9; /* Color of the line */
    margin-left: 35px;
    vertical-align: middle; /* Aligns the line with the middle of the text */
  }

  
  .aboutli::before {
    content: "▹";
    color: #000000;
  }

  @media (max-width: 768px) {
    /* styles for devices with a minimum screen width of 480px */
  
    .p{
      font-size: 0.5rem; /* Smaller font size for mobile */
    }

    .li{
      font-size: 1px; /* Smaller font size for mobile */
    }

    .ul{
      font-size: 1px; /* Smaller font size for mobile */
    }

    .picture {
      height: 340.2px;
      width: 255.15px;
      filter: grayscale(100%); /* Makes the image black and white */
      transition: filter 0.5s ease, transform 0.5s ease; /* Smooth transition for color and pop-out effect */
    }

    .picture:hover {
      filter: grayscale(0%); /* Restores the color on hover */
      transform: scale(1.1) translate(5px, -5px); /* Makes the image pop out with an offset */
    }

    .aboutmetitle::after {
      content: '';
      display: inline-block;
      width: 125px; /* Width of the line */
      height: 2px; /* Adjust height as needed */
      background-color: #e9e9e9; /* Color of the line */
      margin-left: 20px;
      vertical-align: middle; /* Aligns the line with the middle of the text */
    }

    .aboutmetext{
      font-size: 14px;
    }
  
  }
