@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section__Jobs_styledContent {
    font-family: sans-serif;
    text-align: left;
    color: #000000;
    animation: fadeIn 1s ease-out; /* Apply fade-in animation */
  }
  
  .section__Jobs_styledContent h4 {
    color: #000000;
    font-size: 22px;
    font-weight: 500;
  }
  
  .section__Jobs_styledContent h5 {
    font-size: 13px;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    color: #000000;
  }
  
  .section__Jobs_styledContent p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
  }
  
  .section__Jobs_detail::before {
    content: "▹";
    color: #000000;
  }
  