.navLink {
  color: #000000;
  text-decoration: none;
  margin-right: 15px;
  position: relative; /* Ensure the pseudo-element is positioned relative to the link */
  overflow: hidden; /* Hide the pseudo-element overflow */
  font-weight: 500;
  transition: color 0.5s ease, transform 0.5s ease; /* Add transition for the color and transform */
}

.navLink:hover {
  color: rgb(24, 56, 131);
  transform: scale(1.05); /* Smooth scaling on hover */
}



  /* .navLink::after {
    content: ''; 
    display: block;
    position: absolute;
    left: 0;
    bottom: 3;
    height: 1px; 
    width: 100%; 
    background-color: #000000; 
    transform: scaleX(0); 
    transform-origin: left; 
    transition: transform 0.3s ease; 
  }
  
  .navLink:hover::after {
    transform: scaleX(1); 
  } */

  .sticky{
    position: fixed;
  }