
.svg {
  width: 100%; /* Ensure the sidebar takes full width */
  /* Other styles */
  height: 20px;
  width: 20px;
  transition: transform 1s, color 0.5s; /* Transition for both transform and color */
}

.svg:hover {
  color: rgb(229, 103, 0);
  transform: translateY(-2px); /* Moves the icon up by 5px */

}
